@mixin alert($red, $green, $blue) {
    background-color: rgba($red, $green, $blue, 0.5);
    border: 1px solid rgb($red, $green, $blue);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}

.c-feedback{
    &.warning{
        @include alert(255,165,0);
    }
    
    &.error{
        @include alert(255, 0, 0);
    }
    
    &.success{
        @include alert(0, 255, 0);
    }
}